{% extends "base.html" %}

{% block title %} صفحه اصلی {% endblock %}

{% block content %}
     
   <header class="site-header">
    <div class="container">
      <h1> گروه مهندسی کارنیک </h1>
      
    </div>
  </header>

  <main class="container">
    <section class="hero">
      
      

      <div class="badges">
        <span>طراحی معماری</span>
        <span>طراحی سازه</span>
        <span>نظارت</span>
      </div>
      <h2>طراحی دقیق. اجرا مطمئن.</h2>
      <p>
        از ایده تا نقشه و هماهنگی‌های پروژه—با رویکرد مهندسی و کیفیت قابل پیگیری.
      </p>
    </section>

    <section class="section">
      <h3>پروژه‌های نمونه</h3>
      <div class="grid">
        {% for p in projects %}
          <article class="card">
            <img class="projects" src="{{ url_for('static', filename=p.cover_image) }}" alt="{{ p.title }}">
            <h4>{{ p.title }}</h4>
            <p class="desc">{{ p.description }}</p>
            <a class="link" href="{{ url_for('main.services')}}">مشاهده جزئیات</a>
          </article>
        {% endfor %}
      </div>
    </section>

    <section class="section">
      
    </section>
  </main>

  <footer class="footer">
    
    <div class="container">
      © 2026 دفتر مهندسی کارنیک
    </div>
    
  
{% endblock %}