<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>به وب‌سایت ما خوش آمدید!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="container2">
        <div class="image-container">
            <img id="animated-image" src="url_for{{'static',filename='img/landing.png'}}" alt="تصویر خوش‌آمدگویی">
        </div>
        <h1>به زودی...</h1>
        <p>لطفاً کمی صبر کنید. صفحه اصلی وب‌سایت ما در حال بارگذاری است.</p>
    </div>

    <script>
        const animatedImage = document.getElementById('animated-image');
        const redirectTime = 5000; // 5 ثانیه انتظار
        const homePageUrl = 'index.html'; // آدرس صفحه اصلی شما

        // افزودن کلاس برای انیمیشن fade-in پس از بارگذاری کامل صفحه
        window.addEventListener('load', () => {
            animatedImage.classList.add('fade-in');
        });

        // هدایت کاربر پس از زمان مشخص شده
        setTimeout(() => {
            window.location.href = homePageUrl;
        }, redirectTime);
    </script>
</body>
</html>
