{% extends "base.html" %}

{% block title %}ورود به سیستم{% endblock %}


{% block content %}
<div class="container">
    <h2>ورود به سایت</h2>
    
    <form method="POST" action="{{ url_for('main.login', next=request.args.get('next')) }}">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
