{% extends "base.html" %}

{% block title %} ثبت نام | شرکت مهندسی {% endblock %}

{% block content %}
     <header class="site-header">
    <div class="container">
      <h1>ثبت نام</h1>
      <nav>
        <a href="{{ url_for('main.home')}}">بازگشت</a>
      </nav>
    </div>
    
  </header>

  <main class="container">
    <section class="section">


       <h1>ثبت نام کاربر جدید</h1>
      <form method="POST">
         {{ form.hidden_tag() }}
      
      <div class="form-group">
          {{ form.username.label }} {{ form.username(class="form-control") }}
      </div>

      <div class="form-group">
          {{ form.email.label }} {{ form.email(class="form-control") }}
      </div>
      
      <div class="form-group">
          {{ form.phone.label }} {{ form.phone(class="form-control") }}
      </div>

      <!-- بخش انتخاب نوع کاربر -->
     

      <div class="form-group">
          {{ form.password.label }} {{ form.password(class="form-control") }}
      </div>

      <div class="form-group">
          {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
      </div>

      {{ form.submit(class="btn btn-primary") }}
  </form>



{% endblock %}