<!doctype html>
<html>
    <head>
        <title>{{page_title}}</title>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>  خوش آمدید سلام راهنما</h1>
        <p>
            یکپاراگراف
        </p>
        <a href="https://www.google.com">go to google</a>
        <img src ="myimage.png" alt = "عکس دلخواه">
        <a href = "home" class ="btn">Home</a>
    </body>
</html>