<!doctype html>
<html lang="fa">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} سایت من {% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static' , filename='style.css')}}">
    </head>
    <body>

        <nav>
            <a href="{{url_for('home')}}">  خانه    </a> |  
            
            <a href="{{url_for('about')}}">   درباره ما   </a> |
            <a href="{{url_for('contact')}}">   تماس با ما   </a>
        </nav>
        <hr>
        {% block content %}

        {% endblock %}
        
    </body>
    <footer>
        <button onclick="location.href = '/'">برو صفحه اصلی</button>
    </footer>
</html>