{% extends "base.html" %}

{% block title %} درباره {% endblock %}

{% block content %}
     <h1>  ثبت نام </h1>
        <p>
            یک پاراگراف
        </p>
        <form method="post">
            <input type="text" name="name" placeholder="نام شما">
            <button type="submit">ارسال</button>
        </form>
        {% if message %}
            <h2>{{message}}</h2>
        {% endif %}
        <a href="https://www.google.com">go to google</a>
        <img src ="myimage.png" alt = "عکس دلخواه">
        <p>
        
        <button onclick="location.href = '/'">برو صفحه اصلی</button>
        </p>
{% endblock %}