<!doctype html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="utf-8">
  <title>خانه | شرکت مهندسی</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <div class="shadow ">
    <img  src="{{url_for('static',filename='logo/logo1.jpg')}}">
  </div>
</head>
<body>

        <nav>
            <a href="{{url_for('main.home')}}"> خانه </a> |
            <a href="{{url_for('main.about')}}"> درباره ما </a>|
            <a href="{{url_for('main.contact')}}"> با مادر ارتباط باشید </a>
        </nav>
        <hr>
        {% block content %}

        {% endblock %}
        <nav>
            <a href="{{url_for('main.home')}}"> خانه </a> |
            <a href="{{url_for('main.about')}}"> درباره ما </a>|
            <a href="{{url_for('main.contact')}}"> با مادر ارتباط باشید </a>
        </nav>
        <nav>
          <p class="designer">
              طراحی سایت توسط مهندس محمد عزیزخانی
          </p>      
        </nav>
    </body>
   
</html>