body {
    direction: rtl;
    text-align: center;
    background-color: rgb(26, 165, 230);
    font-family: sans-serif;
    }
h1 {
    color: darkblue
}
p {
    color: #444
}
div {
    color: #ff0077;
}