body {
    font-family: Arial,sans-serif;
    background-color:#f0e9e9;
}
h1{
    color: rgb(21, 128, 0);
    text-align:center
}
p{
    color: #333;
    font-size: 14px;
    line-height: 1.5;
}

a {
    color: rgb(9, 0, 128);
    text-decoration: none;
}
@media(max-width: 480px){
    body{
        font-size : 14px;
    }
    nav {
        display: none;
    }
}
@media(max-width: 768px){
    body{
        font-size : 16px;
        background-color: #fafafa;
    }
}
